---

- include_tasks: add_repository_statistics.yml
  tags:
    - repository-statistics

- include_tasks: add_remove_repository_doi_service.yml
  tags:
    - repository-doi-service

- include_tasks: add_remove_angular_headers.yml
  tags:
   - repository-security
   - repository-angular-headers
   - repository-seo
   - repository-angular-robots

- include_tasks: youtube.yml  
  when: connect_content_youtube
  tags:
    - youtube

- include_tasks: pixabay.yml
  when: connect_content_pixabay
  tags:
    - pixabay

- include_tasks: lms.yml
  tags:
    - lms
