---

- include_tasks: add_repository_statistics.yml
  tags:
    - repository-statistics

- include_tasks: add_remove_repository_doi_service.yml
  tags:
    - repository-doi-service

- include_tasks: add_remove_angular_headers.yml
  tags:
   - repository-security
   - repository-angular-headers
   - repository-seo
   - repository-angular-robots

- include_tasks: add_remove_guest_configuration.yml
  tags:
    - repository-guest-user
    - repository-guest-configuration
    - repository-guest-access-control

- include_tasks: add_remove_jobs_configuration.yml
  tags:
    - repository-jobs
    - repository-jobs-configuration
    - repository-custom-jobs

- include_tasks: youtube.yml  
  when: connect_content_youtube
  tags:
    - youtube

- include_tasks: pixabay.yml
  when: connect_content_pixabay
  tags:
    - pixabay

- include_tasks: lms.yml
  tags:
    - lms
