version: '3.7'

services:
  services-edu-connector-database:
     networks:
        - {{edu_sharing_docker_network_name | default('edu_sharing_docker_network_name',true)}}


  services-edu-connector-service:
     networks:
        - {{edu_sharing_docker_network_name | default('edu_sharing_docker_network_name',true)}}


  services-edu-connector-service-init: 
     networks:
        - {{edu_sharing_docker_network_name | default('edu_sharing_docker_network_name',true)}}



networks:
 {{edu_sharing_docker_network_name | default('edu_sharing_docker_network_name',true)}}:
   external: true