
<Location {{edu_connector_path | default("/edu-connector",true)}}>
      ProxyPass http://localhost:{{edu_connector_internal_port | default('9200',true)}}/
      ProxyPassReverse http://localhost:{{edu_connector_internal_port | default('9200',true)}}/
</Location>