<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
  <comment/>
  <entry key="appcaption">{{moodle_appcaption.matches[0]['entry'] }}</entry>
  <entry key="public_key">{{moodle_public_key.matches[0]['entry'] }}</entry>
  <entry key="domain">{{moodle_domain.matches[0]['entry'] }}</entry>
  <entry key="trustedclient">{{moodle_trustedclient.matches[0]['entry'] }}</entry>
  <entry key="subtype">{{moodle_subtype.matches[0]['entry'] }}</entry>
  <entry key="type">{{moodle_type.matches[0]['entry'] }}</entry>
  <entry key="hasTeachingPermission">{{moodle_hasTeachingPermission.matches[0]['entry'] }}</entry>
  <entry key="appid">{{moodle_appid.matches[0]['entry'] }}</entry>
  <entry key="host">{{moodle_host.matches[0]['entry'] }}</entry>
</properties>

