<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Thu Aug 15 14:02:22 CEST 2019 added file:app-moodle_ansible_plugin.properties.xml</comment>
<entry key="applicationfiles">{{ updated_applicationfiles_with_moodle }}</entry>
</properties>