version: '3'
services:
  clamav:
    image: clamav/clamav:{{clamav_docker_version | default('stable', true )}}
    container_name: "{{clamav_docker_docker_project_name | default('clamav_docker_antivirus',true)}}"
    environment:
      - CLAMAV_NO_MILTERD={{clamav_docker_no_milterd | default('true', true)}}
      - CLAMAV_NO_FRESHCLAMD={{clamav_docker_no_freshclamd | default('false', true)}}
      - CLAMAV_NO_CLAMD={{clamav_docker_no_clamd | default('false', true)}}
      - CLAMD_STARTUP_TIMEOUT={{clamav_docker_startup_timeout | default(1800, true)}}
      - FRESHCLAM_CHECKS={{clamav_docker_freshclamd_checks | default(1, true)}}
    ports:
      - {{clamav_docker_internal_port | default(3310, true)}}:3310
      - {{clamav_milter_docker_internal_port | default(7357, true)}}:7357
    volumes:
      - "clamav_antivirus_db:/var/lib/clamav"
    restart: unless-stopped
volumes:
  clamav_antivirus_db: