---
- name: Check edu-sharing version.
  fail:
    msg: "Your edu-sharing version is {{ edu_version }}. Please ensure it is 9.0.0 or higher"
  when: edu_version is defined and  (edu_version | regex_replace('-RC[0-9]+', '') ) is version_compare('9.0.0', '<')
  tags:
    - edu-sharing-notification

# Ensure unzip package is installed
- name: Ensure unzip is present
  package:
    name: unzip
  become: true
  tags:
    - packages
    - root-task
    - edu-sharing-notification

- name: Ensure the java_home variable is set.
  include_role:
    name: java
    tasks_from: get_java_home
    apply:
      tags:
        - edu-sharing-notification
  when: java_home is not defined
  tags:
    - edu-sharing-notification

- include_role:
    name: edu-sharing-init
    tasks_from: set_edu_docker_inst_dir
    apply:
      tags:
        - edu-sharing-notification
  tags:
    - edu-sharing-notification

- include_role:
    name: edu-sharing-init
    tasks_from: load_version_variables
    apply:
      tags:
        - edu-sharing-notification
  tags:
    - edu-sharing-notification

- name: Remove all notification service containers.
  shell: |
    sg docker -c "docker ps -a --format '{{ '{{' }}.Names{{ '}}' }}' | grep -E 'notification[-_]service' | xargs -r docker stop | xargs -r docker rm"
  tags:
    - edu-sharing-notification

# Ensure installation directory exists
- name: Ensure notification service installation directory exists
  file:
    path: "{{ notification_service_install_dir }}"
    state: directory
  tags:
    - edu-sharing-notification

# Load version variables
- name: Load version variables
  include_vars:
    file: "../vars/versions/{{ notification_service_version | default('default') }}.yml"
  tags:
    - edu-sharing-notification

- include_role:
    name: edu-sharing-customization
    tasks_from: fetch_docker_paths
    apply:
      tags:
      - edu-sharing-notification
  vars:
    extra_required_paths:
    - "{{ repository_volume_config_plugins.stdout }}"
    - "{{ repository_volume_docker_plugins.stdout }}"
    - "{{ repository_service_volume_amps.stdout }}/alfresco/2/"
    - "{{ repository_service_volume_amps.stdout }}/edu-sharing/1/"
    - "{{ repository_config_edu_sharing_path.stdout }}/WEB-INF/lib/"
    store_docker_paths_globally: true
  tags:
    - edu-sharing-notification

# Include download tasks
- name: Download and install required plugins
  block:
    - include_tasks: cleanup.yml
    - include_tasks: download-config-plugin.yml
    - include_tasks: download-docker-plugin.yml
    - include_tasks: download-plugin-kafka-service-amp.yml
    - include_tasks: download-plugin-kafka-alfresco-amp.yml
    - include_tasks: download-and-install-docker-compose.yml
      tags:
        - edu-sharing-notification-template-override
    - include_tasks: override_notification_mail_templates.yml
      tags:
        - edu-sharing-notification-template-override
  when: enable_notification_service is defined and enable_notification_service
  tags:
    - edu-sharing-notification

- name: Cleanup files and folder when when disabling notification service.
  include_tasks: cleanup.yml
  when: enable_notification_service is defined and not enable_notification_service
  tags:
    - edu-sharing-notification

- name: Run notification service.
  shell:
    chdir: "{{notification_service_install_dir}}/"
    cmd: '{{notification_service_deploy_command | default(''sg docker -c "./deploy.sh start"'',true)}}'
  when: enable_notification_service is defined and enable_notification_service
  tags:
    - edu-sharing-notification
    - edu-sharing-notification-template-override

- name: Restart edu-sharing service in docker.
  command:
    chdir: "{{ edu_docker_inst_dir }}"
    cmd: "{{ edu_sharing_restart_command | replace('{service}', notification_service_repository_service | default('repository-service')) }}"
  tags:
    - edu-sharing-notification

- include_role:
    name: edu-sharing-init
    tasks_from: wait_services_to_be_up
    apply:
      tags:
        - edu-sharing-notification
  when: "'edu-sharing-notification' in ansible_run_tags"
  tags:
    - edu-sharing-notification
