<VirtualHost *:80>
{% if apache_conf_servername is defined and apache_conf_servername is not none and apache_conf_servername != "" %}
        ServerName        {{ apache_conf_servername }}
{% endif %}
{% if apache_conf_usecanonicalname is defined and apache_conf_usecanonicalname is not none and apache_conf_usecanonicalname != "" %}
        UseCanonicalName  {{ apache_conf_usecanonicalname }}
{% endif %}
{% if esrender_vhost is defined and esrender_vhost %}
        DocumentRoot {{esrender_document_root}}
        <Directory {{esrender_base_dir}}/>
          Options Indexes FollowSymLinks MultiViews
          AllowOverride All
          Require all granted
        </Directory>
        Alias "/edu-sharing/esrender" "{{esrender_base_dir}}"
        ProxyPass /edu-sharing/esrender        !
{% endif %}

{% if es_proxy_vhost is defined and es_proxy_vhost %}
        ProxyPass /alfresco     ajp://localhost:{{tomcat_ajp_port}}/alfresco
        ProxyPass /share        ajp://localhost:{{tomcat_ajp_port}}/share
        ProxyPass /edu-sharing  ajp://localhost:{{tomcat_ajp_port}}/edu-sharing
{% endif %}

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
