<VirtualHost *:80>
{% if apache_conf_servername is defined and apache_conf_servername is not none and apache_conf_servername != "" %}
        ServerName        {{ apache_conf_servername }}
{% endif %}
{% if apache_conf_usecanonicalname is defined and apache_conf_usecanonicalname is not none and apache_conf_usecanonicalname != "" %}
        UseCanonicalName  {{ apache_conf_usecanonicalname }}
{% endif %}
       ProxyIOBufferSize 65536
       <Location /edu-sharing>
                ProxyPass ajp://localhost:8102/edu-sharing
                ProxyPassReverse ajp://localhost:8102/edu-sharing
        </Location>
        <Location /share>
                ProxyPass ajp://localhost:8102/share
                ProxyPassReverse ajp://localhost:8102/share
        </Location>
         #ProxyPreserveHost On
        <Location /esrender>
              ProxyPass http://localhost:9100/esrender
              ProxyPassReverse http://localhost:9100/esrender
       </Location>

        DocumentRoot /var/www
        <Directory /var/www >
          Options Indexes FollowSymLinks MultiViews
          AllowOverride All
          Require all granted
        </Directory>
{% if activate_classification_keywords is defined and activate_classification_keywords %}
        DocumentRoot /var/www
        <Directory /var/www/{{edu_classification_keyword_path | dirname }} >
          Options Indexes FollowSymLinks MultiViews
          AllowOverride All
          Require all granted
        </Directory>
{% endif %}
        Include /etc/apache2/sites-available/edu_*.conf
        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>