// {{ ansible_managed }}
repository: {
    // statistics endpoints (for providing public information about content counts, user counts, etc.)
    statistics:{
        api:{
            enabled:{{ edu_enable_statistics_api }}
        }
    }
{% if edu_splash_url is defined and edu_splash_url is not none and edu_splash_url != "" %}
    communication:{
        splash:{
            url: "{{ edu_splash_url }}"
        }
    }
{% endif %}
}

{% if activate_classification_keywords is defined and activate_classification_keywords and activate_classification_keywords_update is defined and activate_classification_keywords_update %}
jobs.entries += {
    name: "Import Factual Term Marc 21",
    class: "org.edu_sharing.repository.server.jobs.quartz.ImporterJob",
    trigger: "Cron[0 0 22 * * ?]",
    params: {
        "oai_base_url": "[https://services.dnb.de/oai/repository]",
        "oai_metadata_prefix": "MARC21-xml",
        "sets": "authorities:sachbegriff",
        "record_handler": "org.edu_sharing.repository.server.importer.RecordHandlerKeywordsDNBMarc",
        "persistent_handler": "org.edu_sharing.repository.server.importer.PersistenHandlerKeywordsDNBMarc",
        "importer_class": "org.edu_sharing.repository.server.importer.OAIPMHLOMImporter",
        "period_in_days": {{ classification_keywords_update_interval | default("10",true)}},
        "username": "admin"
    }
}
{% endif %}