<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
  <comment>configured by autoupdate</comment>
  <entry key="type">LMS</entry>
  <entry key="public_key">{{ item.public_key }}</entry>
  <entry key="host">{{ item.host }}</entry>
  <entry key="appid">{{ item.appid }}</entry>
  <entry key="trustedclient">true</entry>
</properties>