module.exports = [
{% for oc_instance in opencast_importer_instances %}
{
  orgName: '{{ oc_instance.orgName }}',
  orgUrl: '{{ oc_instance.orgUrl }}',
{% if oc_instance.orgRor is defined %}
  orgRor: '{{ oc_instance.orgRor }}',
{% endif %}
  protocol: '{{ oc_instance.protocol }}',
  defaultThumbnailUrl: '{{ oc_instance.defaultThumbnailUrl | default('') }}',
  domain: '{{ oc_instance.domain }}',
  blacklistedIds: [ {{ oc_instance.blacklistedIds | map('regex_replace','^(.*)$', "'\\1'") | join(', ') }} ],
  useSeriesDescriptionInEpisodes: {{ oc_instance.useSeriesDescriptionInEpisodes | default('false') }}
},
{% endfor %}
]