---
- name: Ensures inst-dir exists
  file: path='{{edu_inst_dir}}' state=directory

- name: Copy local edu-sharing artifact
  copy:
    src: "{{ edu_sharing_local_archive_path }}"
    dest: "{{edu_inst_dir}}/edu-sharing.zip"
  when: edu_sharing_archive_retrieve_method == "copy-local"

- name: Remove old installation for local artifacts
  file: path='{{edu_home}}' state=absent
  when: edu_sharing_archive_retrieve_method == "copy-local"

- name: download edu-sharing sources
  get_url:
    url: '{{edu_sharing_archive_url}}'
    dest: "{{edu_inst_dir}}/edu-sharing.zip"
  when: edu_sharing_archive_retrieve_method == "download"

- name: Ensure unzip is present
  package:
    name: ["unzip"]
  become: yes
  tags:
  - packages
  - root-task

- name: extract edu-sharing sources
  unarchive:
    remote_src: yes
    src: '{{edu_inst_dir}}/edu-sharing.zip'
    dest: "{{edu_inst_dir}}"
    creates: "{{edu_home}}"

- include: custom.yml
  when: edu_sharing_custom_installation

- name: stop alfresco
  shell: '{{tomcat_stop_command}}'

- name: set imprint url
  xml:
    path: '{{ edu_home }}/war/WEB-INF/classes/org/edu_sharing/service/config/client.config.xml'
    xpath: '/config/values/imprintUrl'
    value: '{{ edu_imprinturl | default("") }}'
    pretty_print: yes
  tags: edu-sharing-config

- name: set privacyInformation url
  xml:
    path: '{{ edu_home }}/war/WEB-INF/classes/org/edu_sharing/service/config/client.config.xml'
    xpath: '/config/values/privacyInformationUrl'
    value: '{{ edu_privacyInformationUrl | default("") }}'
    pretty_print: yes
  tags: edu-sharing-config

- name: set local registration
  xml:
    path: '{{ edu_home }}/war/WEB-INF/classes/org/edu_sharing/service/config/client.config.xml'
    xpath: '/config/values/register/local'
    value: '{{ edu_register_local }}'
    pretty_print: yes
  tags: edu-sharing-config

- include: images.yml

- name: set banner url
  xml:
    path: '{{ edu_home }}/war/WEB-INF/classes/org/edu_sharing/service/config/client.config.xml'
    xpath: '/config/values/banner/url'
    value: '{{ edu_banner_url | default("") }}'
    pretty_print: yes
  tags: edu-sharing-config

- name: set banner href
  xml:
    path: '{{ edu_home }}/war/WEB-INF/classes/org/edu_sharing/service/config/client.config.xml'
    xpath: '/config/values/banner/href'
    value: '{{ edu_banner_href | default("") }}'
    pretty_print: yes
  tags: edu-sharing-config
  
- name: clear banner components
  xml:
    path: '{{ edu_home }}/war/WEB-INF/classes/org/edu_sharing/service/config/client.config.xml'
    xpath: '/config/values/banner/components'
    state: absent
    pretty_print: yes
  tags: edu-sharing-config

- name: set banner components
  xml:
    path: '{{ edu_home }}/war/WEB-INF/classes/org/edu_sharing/service/config/client.config.xml'
    xpath: '/config/values/banner'
    add_children: '<components>{{ item }}</components>'
    input_type: xml
    pretty_print: yes
  with_items: '{{edu_banner_components}}'
  tags: edu-sharing-config

- name: clear HelpMenuOptions
  xml:
    path: '{{ edu_home }}/war/WEB-INF/classes/org/edu_sharing/service/config/client.config.xml'
    xpath: "/config/values/helpMenuOptions[key='{{item[0]}}']"
    state: absent
    pretty_print: yes
  loop: '{{ edu_help_menu_options | default([], true) }}'

- name: edit HelpMenuOptions
  xml:
    path: '{{ edu_home }}/war/WEB-INF/classes/org/edu_sharing/service/config/client.config.xml'
    xpath: "/config/values"
    add_children: '<helpMenuOptions><key>{{item[0]}}</key><icon>{{item[1]}}</icon><url>{{item[2]}}</url></helpMenuOptions>'
    input_type: xml
    pretty_print: yes
  loop: '{{ edu_help_menu_options | default([], true) }}'

- name: clear allowedLicenses
  xml:
    path: '{{ edu_home }}/war/WEB-INF/classes/org/edu_sharing/service/config/client.config.xml'
    xpath: '/config/values/allowedLicenses'
    state: absent
    pretty_print: yes
  tags: edu-sharing-config

- name: set allowedLicenses
  xml:
    path: '{{ edu_home }}/war/WEB-INF/classes/org/edu_sharing/service/config/client.config.xml'
    xpath: '/config/values'
    add_children: '<allowedLicenses>{{ item }}</allowedLicenses>'
    input_type: xml
    pretty_print: yes
  with_items: '{{edu_allowed_licenses}}'
  when: (edu_allowed_licenses != "") and (edu_allowed_licenses is not none)
  tags: edu-sharing-config

- name: edit enable_statistics_api in edu-sharing.properties
  lineinfile:
    path: '{{ edu_home }}/war/WEB-INF/classes/edu-sharing.properties'
    line: 'enable_statistics_api={{edu_enable_statistics_api}}'
    regexp: '^enable_statistics_api=.*$'

- name: edit i18n
  lineinfile:
    backrefs: yes
    path: '{{ edu_home }}/war//edu_sharing/assets/i18n/{{item[0]}}'
    line: '\g<start>{{item[2]}}\g<end>'
    regexp: '(?P<start>^\s*"{{item[1]}}":").*(?P<end>".*)'
  loop: '{{ edu_i18n_adjustments | default([], true) }}'

- name: edit edu-sharing build.properties
  lineinfile:
    path: '{{ edu_home }}/build.properties'
    line: 'webserver.home={{tomcat_home}}'
    regexp: '^webserver.home=.*$'

- name: edit edu-sharing call-ant.sh
  replace:
    path: '{{ edu_home }}/call-ant.sh'
    replace: '{{java_home}}/bin/java '
    regexp: '^java '

- name: edit edu-sharing call-ant.sh
  replace:
    path: '{{ edu_home }}/call-ant.sh'
    replace: '-classpath '
    regexp: '-Djava.ext.dirs='

- name: make edu-sharing call-ant.sh executable
  file:
    path: '{{ edu_home }}/call-ant.sh'
    mode: 'a+x'

- name: undeploy edu-sharing
  shell: '{{ edu_home }}/call-ant.sh undeploy'
  args:
    chdir: '{{ edu_home }}'
    removes: '{{ tomcat_home }}/webapps/edu-sharing'

- name: make edu-sharing install.sh executable
  file:
    path: '{{ edu_home }}/install.sh'
    mode: 'a+x'

- name: run edu-sharing install.sh
  shell: '{{ edu_home }}/install.sh'
  args:
    chdir: '{{ edu_home }}'
    
- name: EDU-SHARING-5-FIX remove jackson-jars that edu-sharing installed in the last step, because it causes version conflicts
  file:
    path: "{{item}}"
    state: absent
  with_items:
    - "{{tomcat_home}}/webapps/alfresco/WEB-INF/lib/jackson-annotations-2.8.3.jar"
    - "{{tomcat_home}}/webapps/alfresco/WEB-INF/lib/jackson-core-2.8.3.jar"
    - "{{tomcat_home}}/webapps/alfresco/WEB-INF/lib/jackson-databind-2.8.3.jar"
    
- name: add or edit properties in tomcat/shared/classes/homeApplication.properties.xml
  lineinfile:
    path: '{{ tomcat_home }}/shared/classes/homeApplication.properties.xml'
    line: '<entry key="{{item[0]}}">{{item[1]}}</entry>'
    regexp: '<entry key="{{item[0]}}">'
    insertbefore: '</properties>'
  loop:
    - ["appid", '{{edu_repo_id}}']
    - ["appcaption", '{{edu_repo_caption}}']
    - ["clientport", '{{ edu_sharing_clientport | default("80") }}']
    - ["port", '{{ edu_sharing_port | default("80") }}']
    - ["protocol", '{{ edu_sharing_protocol | default("http") }}']
    - ["clientprotocol", '{{ edu_sharing_clientprotocol | default("http") }}']
    - ["domain", '{{edu_sharing_domain}}']
    - ["host", '{{edu_sharing_host}}']
    - ["password", '{{alf_password}}']

- name: edit mail properties in tomcat/shared/classes/ccmail.properties.xml
  lineinfile:
    path: '{{ tomcat_home }}/shared/classes/ccmail.properties.xml'
    line: '<entry key="{{item[0]}}">{{item[1]}}</entry>'
    regexp: '<entry key="{{item[0]}}">'
    insertbefore: '</properties>'
  loop:
    - ["mail.report.receiver", '{{edu_mail_report_receiver | default("")}}']
    - ["mail.authtype", '{{ edu_mail_authtype | default("") }}']
    - ["mail.smtp.server", '{{ edu_mail_smtp_server | default("") }}']
    - ["mail.smtp.passwd", '{{ edu_mail_smtp_passwd | default("") }}']
    - ["mail.smtp.username", '{{ edu_mail_smtp_username | default("") }}']
    - ["mail.smtp.port", '{{ edu_mail_smtp_port | default("25") }}']
    - ["mail.smtp.from", '{{ edu_mail_smtp_from | default("pleasechange@nodomain.com") }}']

- include: metadatasets.yml

- name: start alfresco
  shell: '{{tomcat_start_command}}'
