version: "3.9"
services:
  services-edu-connector-database:
    image: "docker.edu-sharing.com/community/edu_sharing-community-services-edu-connector-deploy-docker-build-mysql:{{edu_connector_version|default('8.0.0',true)}}"
    container_name: "services-edu-connector-database_{{edu_connector_docker_project_name}}"
    environment:
      MYSQL_USER: "{{edu_connector.db_user}}"
      MYSQL_PASSWORD: "{{edu_connector.db_password}}"
      MYSQL_DATABASE: "{{edu_connector.db_name}}"
      MYSQL_ROOT_PASSWORD: "{{edu_connector.db_root_password|default('connector',true)}}"
    volumes:
      - services-edu-connector-database-data:/bitnami/mysql/data
    restart: unless-stopped

  services-edu-connector-service:
    image: "docker.edu-sharing.com/community/edu_sharing-community-services-edu-connector-service:{{edu_connector_version|default('8.0.0',true)}}"
    container_name: "services-edu-connector-service_{{edu_connector_docker_project_name}}"
    environment:
      PROT_EXTERNAL: "{{ edu_connector_protocol | default('http',true) }}"
      HOST_EXTERNAL: "{{ edu_connector_proxy}}"
      PORT_EXTERNAL: "{{edu_connector_port | default('80',true)}}"
      PATH_EXTERNAL: "{{edu_connector_path | default('/edu-connector',true)}}"
      DATABASE_HOST: services-edu-connector-database
      DATABASE_PORT: "3306"
      DATABASE_NAME: "{{edu_connector.db_name}}"
      DATABASE_USER:  "{{edu_connector.db_user}}"
      DATABASE_PASSWORD: "{{edu_connector.db_password}}"
    volumes:
      - "services-edu-connector-data:/var/data"
    depends_on:
      - services-edu-connector-database
    ports:
      - "127.0.0.1:{{edu_connector_internal_port | default('9200',true)}}:80"
    restart: unless-stopped

  services-edu-connector-service-init:
    image: "docker.edu-sharing.com/community/edu_sharing-community-services-edu-connector-service:{{edu_connector_version|default('8.0.0',true)}}"
    container_name: "services-edu-connector-service-init_{{edu_connector_docker_project_name}}"
    #entrypoint: ["init.sh"]
    environment:
      DEBUG: true
      CONNECTOR_INTERNAL_HOST: services-edu-connector-service
      CONNECTOR_INTERNAL_PORT: "80"
      REPOSITORY_SERVICE_PROT: "{{ edu_sharing_protocol | default("http",true) }}"
      REPOSITORY_SERVICE_HOST: "{{ edu_sharing_host}}"
      REPOSITORY_SERVICE_PORT: "{{ edu_sharing_port | default('80',true)}}"
      REPOSITORY_SERVICE_PATH: "{{ edu_sharing_path | default('/edu-sharing',true)}}"
      REPOSITORY_SERVICE_ADMIN_PASS: "{{alf_password}}"
    depends_on:
      - services-edu-connector-service

volumes:
  services-edu-connector-database-data:
  services-edu-connector-data:
