---
- hosts: all
  become: yes
  roles:
    - set-timezone
  tags:
    - root-task

- hosts: renderingservice, edusharing
  become: yes
  roles:
    - apache
  tags:
    - root-task

- hosts: edusharing
  become: yes
  roles:
    - role: postgresql
      when: alfresco_db_type == 'postgresql'
    - role: mariadb
      when: alfresco_db_type == 'mariadb'
  tags:
    - root-task

- hosts: alfrescosolr4, edusharing
  roles:
    - java
    - role: tomcat
      tags: [ tomcat ]

- hosts: alfrescosolr4
  roles:
    - alfresco-solr4

- hosts: edusharing
  roles:
    - edu-sharing
    - role: backup
      tags: backup

- hosts: renderingservice
  become: yes
  roles:
    - role: postgresql
      when: esrender_db_type == 'postgresql'
    - role: mariadb
      when: esrender_db_type == 'mariadb'
    - renderingservice-installation
  tags:
    - root-task

- hosts: renderingservice
  roles:
    - renderingservice-init
    - renderingservice-registration

- hosts: edusharing
  roles:
    - role: moodle-registration
      when: register_moodle
  tags:
    - moodle-registration
    
- hosts: edusharing
  become: yes
  roles:
    - role: antivirus
      when: install_antivirus is defined and install_antivirus
  tags:
    - root-task
    - antivirus
    