// {{ ansible_managed }}

repository: {
    // statistics endpoints (for providing public information about content counts, user counts, etc.)
    statistics:{
        api:{
            enabled:{{ edu_enable_statistics_api }}
        }
    }
{% if edu_splash_url is defined and edu_splash_url is not none and edu_splash_url != "" %}
    communication:{
        splash:{
            url: "{{ edu_splash_url }}"
        }
    }
{% endif %}
}